.mediaViewInfo {
	--web-view-name: Acerca De;
	--web-view-id: Acerca_De;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Acerca_De;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Acerca_De {
	position: absolute;
	width: 360px;
	height: 639px;
	background-color: rgba(33,45,59,1);
	overflow: hidden;
	--web-view-name: Acerca De;
	--web-view-id: Acerca_De;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Recuerdo_4 {
	position: absolute;
	left: 120px;
	top: 604px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#johndoe_mail_com {
	position: absolute;
	left: 117px;
	top: 581px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Grupo_16 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rect_ngulo_12 {
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 68px;
	left: 0px;
	top: 0px;
}
.Icon_awesome_arrow_left {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 23px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Configuraci_n.html;
	cursor: pointer;
}
#Acerca_De_blf {
	position: absolute;
	left: 62px;
	top: 13px;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#TIMEFLIX {
	position: absolute;
	left: 42px;
	top: 83px;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: Blessed;
	font-style: normal;
	font-weight: lighter;
	font-size: 50px;
	color: rgba(242,172,76,1);
}
#deadline {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 262px;
	top: 81px;
	overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet__co {
	position: absolute;
	left: 33px;
	top: 151px;
	overflow: hidden;
	width: 295px;
	height: 395px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Componente_8___23 {
	position: absolute;
	width: 360px;
	height: 58px;
	left: 0px;
	top: 582px;
	overflow: visible;
}
.Rect_ngulo_2 {
	filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#Icon_feather_compass {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 102px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Discover.html;
	cursor: pointer;
}
.Trazado_1 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 14.72px;
	height: 14.72px;
	left: 8.64px;
	top: 8.64px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_feather_bookmark {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 32px;
	left: 170px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bookmarks.html;
	cursor: pointer;
}
#Icon_feather_user {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 229px;
	top: 13px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Perfil_Past.html;
	cursor: pointer;
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 29px;
	height: 11px;
	left: 0px;
	top: 21px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 7.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_home {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 37.3px;
	top: 14px;
	overflow: visible;
}
.Trazado_5 {
	overflow: visible;
	position: absolute;
	width: 29px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_settings {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 294px;
	top: 13px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Configuraci_n.html;
	cursor: pointer;
}
.Trazado_41 {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 11px;
	left: 10.5px;
	top: 10.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_42 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}