.mediaViewInfo {
	--web-view-name: Configuración – 1;
	--web-view-id: Configuraci_n___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Configuraci_n___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Configuraci_n___1 {
	position: absolute;
	width: 360px;
	height: 639px;
	background-color: rgba(33,45,59,1);
	overflow: hidden;
	--web-view-name: Configuración – 1;
	--web-view-id: Configuraci_n___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NoPath___copia__4_ {
	position: absolute;
	width: 87px;
	height: 83px;
	left: 137px;
	top: 69px;
	overflow: visible;
}
#Recuerdo_4 {
	position: absolute;
	left: 120px;
	top: 604px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#johndoe_mail_com {
	position: absolute;
	left: 117px;
	top: 581px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Barra_navegacion {
	position: absolute;
	width: 360px;
	height: 58px;
	left: 0px;
	top: 583px;
	overflow: visible;
}
.Rect_ngulo_2 {
	filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#Icon_feather_compass {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 120px;
	top: 14px;
	overflow: visible;
}
.Trazado_1 {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 15.72px;
	height: 15.72px;
	left: 8.64px;
	top: 8.64px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_feather_bookmark {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 33px;
	left: 207px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_user {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 285px;
	top: 14px;
	overflow: visible;
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 12px;
	left: 0px;
	top: 21px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 7.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_home {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 36.3px;
	top: 14px;
	overflow: visible;
}
.Trazado_5 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_16 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rect_ngulo_12 {
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#Configuraci_n_ {
	position: absolute;
	left: 62px;
	top: 13px;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Grupo_60 {
	position: absolute;
	width: 123px;
	height: 21px;
	left: 51px;
	top: 183px;
	overflow: visible;
}
#Editar_Perfil {
	position: absolute;
	left: 46px;
	top: 3px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Icon_awesome_user_alt {
	overflow: visible;
	position: absolute;
	width: 17px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_material_subtitles {
	overflow: visible;
	position: absolute;
	width: 26px;
	height: 20px;
	left: 51.3px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_17 {
	position: absolute;
	width: 200px;
	height: 37px;
	left: 51px;
	top: 219px;
	overflow: visible;
}
#Idioma_de_la_aplicacion {
	position: absolute;
	left: 46px;
	top: 0px;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Icon_material_translate {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 20px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Espa_ol {
	position: absolute;
	left: 45px;
	top: 19px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(177,177,177,1);
}
#Subtitulos {
	position: absolute;
	left: 97px;
	top: 287px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_18 {
	position: absolute;
	width: 35px;
	height: 20px;
	left: 284px;
	top: 285px;
	overflow: visible;
}
.Toggle_Button_Slider {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 10px;
	left: 0px;
	top: 5px;
}
.Toggle_Button_Ellipse {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 15px;
	top: 0px;
}
.Icon_material_translate_bgr {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 20px;
	left: 51px;
	top: 227px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_62 {
	position: absolute;
	width: 206px;
	height: 37px;
	left: 51px;
	top: 320px;
	overflow: visible;
}
#Grupo_19 {
	position: absolute;
	width: 206px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Idioma_de_los_subtitulos {
	position: absolute;
	left: 46px;
	top: 0px;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Icon_material_translate_bgv {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 20px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Espa_ol_bgw {
	position: absolute;
	left: 45px;
	top: 19px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(177,177,177,1);
}
#Grupo_61 {
	position: absolute;
	width: 136px;
	height: 37px;
	left: 51px;
	top: 372px;
	overflow: visible;
}
#Calidad_video {
	position: absolute;
	left: 46px;
	top: 0px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#ID720p {
	position: absolute;
	left: 45px;
	top: 19px;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(177,177,177,1);
}
.Icon_material_high_quality {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 20px;
	left: 0px;
	top: 9px;
	transform: matrix(1,0,0,1,0,0);
}
.L_nea_2 {
	overflow: visible;
	position: absolute;
	width: 295px;
	height: 2px;
	left: 32.5px;
	top: 266.5px;
	transform: matrix(1,0,0,1,0,0);
}
.L_nea_3 {
	overflow: visible;
	position: absolute;
	width: 295px;
	height: 2px;
	left: 39.5px;
	top: 428.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_63 {
	position: absolute;
	width: 112.5px;
	height: 25px;
	left: 51.5px;
	top: 448px;
	overflow: visible;
}
#Acerca_de {
	position: absolute;
	left: 45.5px;
	top: 7px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Icon_feather_info {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Trazado_20 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_21 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 8px;
	left: 12.5px;
	top: 11.875px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_22 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 2px;
	left: 12.5px;
	top: 7.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_64 {
	position: absolute;
	width: 87.5px;
	height: 25px;
	left: 50.5px;
	top: 486px;
	overflow: visible;
}
#Ayuda {
	position: absolute;
	left: 46.5px;
	top: 2px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Icon_feather_help_circle {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Trazado_23 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_24 {
	overflow: visible;
	position: absolute;
	width: 11.02px;
	height: 11.312px;
	left: 8.133px;
	top: 5.708px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_25 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 2px;
	left: 12.5px;
	top: 18.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Card {
	position: absolute;
	width: 302px;
	height: 295px;
	left: 29px;
	top: 177px;
	overflow: visible;
}
.Rectangle_1314 {
	filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 385px;
	left: 0px;
	top: 0px;
}
#Grupo_67 {
	position: absolute;
	width: 86px;
	height: 20px;
	left: 64px;
	top: 204px;
	overflow: visible;
}
#Espa_ol_bhi {
	position: absolute;
	left: 33px;
	top: 1px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_65 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_241_bhl {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_68 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 236px;
	overflow: visible;
}
#Grupo_66 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bho {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_69 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 270px;
	overflow: visible;
}
#Grupo_66_bhr {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bhs {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bht {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_70 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 301px;
	overflow: visible;
}
#Grupo_66_bhv {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bhw {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bhx {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_71 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 332px;
	overflow: visible;
}
#Grupo_66_bhz {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bia {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bh {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_72 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 332px;
	overflow: visible;
}
#Grupo_66_bh {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bia {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bia {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_73 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 63px;
	top: 363px;
	overflow: visible;
}
#Grupo_66_bia {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bib {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bib {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_74 {
	position: absolute;
	width: 81px;
	height: 20px;
	left: 64px;
	top: 394px;
	overflow: visible;
}
#Grupo_66_bib {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_241_bic {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#English_bid {
	position: absolute;
	left: 33px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#OK {
	position: absolute;
	left: 255px;
	top: 441px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Configuraci_n___3.html;
	cursor: pointer;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(242,172,76,1);
}
#OK_bif {
	position: absolute;
	left: 173px;
	top: 441px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Configuraci_n.html;
	cursor: pointer;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(242,172,76,1);
}
#Componente_8___21 {
	position: absolute;
	width: 360px;
	height: 58px;
	left: 0px;
	top: 582px;
	overflow: visible;
}
.Rect_ngulo_2_bih {
	filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#Icon_feather_compass_bii {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 102px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Discover.html;
	cursor: pointer;
}
.Trazado_1_bij {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_2_bik {
	overflow: visible;
	position: absolute;
	width: 14.72px;
	height: 14.72px;
	left: 8.64px;
	top: 8.64px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_feather_bookmark_bil {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 32px;
	left: 170px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bookmarks.html;
	cursor: pointer;
}
#Icon_feather_user_bim {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 229px;
	top: 13px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Perfil_Past.html;
	cursor: pointer;
}
.Trazado_3_bin {
	overflow: visible;
	position: absolute;
	width: 29px;
	height: 11px;
	left: 0px;
	top: 21px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_4_bio {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 7.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_home_bip {
	position: absolute;
	width: 27px;
	height: 30px;
	left: 37.3px;
	top: 14px;
	overflow: visible;
}
.Trazado_5_biq {
	overflow: visible;
	position: absolute;
	width: 29px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_settings {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 294px;
	top: 13px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Configuraci_n.html;
	cursor: pointer;
}
.Trazado_41 {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 11px;
	left: 10.5px;
	top: 10.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_42 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}