.mediaViewInfo {
	--web-view-name: Play – 1;
	--web-view-id: Play___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Play___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Play___1 {
	position: absolute;
	width: 639px;
	height: 340px;
	background-color: rgba(33,45,59,1);
	overflow: hidden;
	--web-view-name: Play – 1;
	--web-view-id: Play___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NoPath___copia__7_ {
	position: absolute;
	width: 639px;
	height: 340px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_29 {
	opacity: 0.32;
}
.Trazado_29 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 657px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_arrow_left {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#Trazado_30 {
	opacity: 0.54;
}
.Trazado_30 {
	filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 657px;
	height: 60px;
	left: 0px;
	top: 298px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_play {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 20px;
	left: 14.65px;
	top: 308.999px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_746 {
	position: absolute;
	overflow: visible;
	width: 185px;
	height: 4px;
	left: 50px;
	top: 318px;
}
.Rectangle_746_bw {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 4px;
	left: 337px;
	top: 319px;
}
.Ellipse_241 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 225px;
	top: 311px;
}
.Rectangle_746_bxa {
	position: absolute;
	overflow: visible;
	width: 185px;
	height: 4px;
	left: 244px;
	top: 319px;
}
#Icon_feather_settings {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 587px;
	top: 310.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Play.html;
	cursor: pointer;
}
.Trazado_31 {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 11px;
	left: 5.5px;
	top: 5.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Trazado_32 {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_40 {
	opacity: 0.65;
}
.Trazado_40 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 297.096px;
	height: 107.029px;
	left: 359.904px;
	top: 208.971px;
	transform: matrix(1,0,0,1,0,0);
}
#SUBT_TULOS_ {
	position: absolute;
	left: 386px;
	top: 224px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_84 {
	position: absolute;
	width: 25.415px;
	height: 15px;
	left: 594px;
	top: 224px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Play___2.html;
	cursor: pointer;
}
.Toggle_Button_Slider {
	overflow: visible;
	position: absolute;
	width: 25.415px;
	height: 7.157px;
	left: 0px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
.Toggle_Button_Ellipse {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Icon_ionic_ios_arrow_forward {
	overflow: visible;
	position: absolute;
	width: 8.116px;
	height: 15px;
	left: 607px;
	top: 246px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_85 {
	position: absolute;
	width: 229.116px;
	height: 18px;
	left: 386px;
	top: 244px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Play___3.html;
	cursor: pointer;
}
#IDIOMA_SUBTITULOS___Espa_ol {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Icon_ionic_ios_arrow_forward_bxf {
	overflow: visible;
	position: absolute;
	width: 8.116px;
	height: 15px;
	left: 221px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_86 {
	position: absolute;
	width: 229.116px;
	height: 19px;
	left: 386px;
	top: 264px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Play___4.html;
	cursor: pointer;
}
#CALIDAD__720p {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Icon_ionic_ios_arrow_forward_bxi {
	overflow: visible;
	position: absolute;
	width: 8.116px;
	height: 15px;
	left: 221px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}