.mediaViewInfo {
	--web-view-name: Splash Screen;
	--web-view-id: Splash_Screen;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Splash_Screen;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Splash_Screen {
	position: absolute;
	width: 360px;
	height: 640px;
	background-color: rgba(33,45,59,1);
	overflow: hidden;
	--web-view-name: Splash Screen;
	--web-view-id: Splash_Screen;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#TIMEFLIX {
	position: absolute;
	left: 42px;
	top: 280px;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: Blessed;
	font-style: normal;
	font-weight: lighter;
	font-size: 50px;
	color: rgba(242,172,76,1);
}
#deadline {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 262px;
	top: 278px;
	overflow: visible;
}